<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135511194603-7u3hvj2rovk5k06s3sc28hd8iihr7bec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135511194603-7u3hvj2rovk5k06s3sc28hd8iihr7bec</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1AOsN0BPqSuE0ykC5jSwNkq_HTnHKIc</string>
	<key>GCM_SENDER_ID</key>
	<string>135511194603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Joseph.TwitterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twitter-ca7a6</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-ca7a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135511194603:ios:3322d7781485133d4977ae</string>
</dict>
</plist>